snippet id.l
	import Data.List
snippet id.m
	import Data.Maybe
snippet id.a
	import Data.Array
snippet id.c
	import Data.Char
snippet main
	main = print ${1}
snippet let
	let ${1:lExp} = ${2:exp} in ${3:res}
snippet where
	where ${1:lExp} = ${2:exp}
snippet if
	if ${1:condition} then ${2:YValue} else ${3:NValue}

